body {
	background-color: pink;
	border: 2px solid #FFF;
}
p {
	color: green;
	font-family: Arial;
}
h1 {
	color: purple;
	font-family: Aharoni;
}
h3 {
	color: blue;
	font-family: Garamond;
}
ul { 
	list-style-type: lower-roman; 
	color: yellow; 
	font-family:"Iskoola Pota";
} 
hr {
	background-color: #FF0000;
}
